body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background: #000;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}



